<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto page-content">
    <h2>Education</h2>
    {{ range .Site.Data.education }}
      <div class="resume-content">
        <h3>{{ .degree }}</h3>
        <div class="subheading"><a href="{{ .link }}">{{ .school }}</a></div>
        <div class="text-primary-light">{{ .range }}</div>
        {{ if .distinction }} <p>{{ .distinction }}</p> {{ end }}
        <p> {{ .summary }} </p>
      </div>
    {{ end }}
   </div>
</section>
