<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto page-content" id="experience-content">
    {{ range .Site.Data.experience }}
		<h2>{{ .section }} </h2>
		{{ range .content }}
      <div class="resume-content">
        <h3>{{ .role }}</h3>
        <div class="subheading">
          {{ if and .employer .company}}
            to {{ .employer }},
          {{ else if .employer }}
            to {{ .employer }}
          {{ end }}
          {{ if .department }} {{ .department }},  {{ end }}{{ .company }}
        </div>
        <div class="text-primary-light">{{ .range }}</div>
        {{ if gt (len .summary) 1}}
          {{ range .summary }}
            <div class="experience-summary-list pl-5">
              <li>{{ . }}</li>
            </div>
          {{ end }}
        {{ else }}
          <p>{{ index (.summary) 0 }}</p>
        {{ end }}
      </div>
		{{ end }}
    {{ end }}
  </div>
</section>
