:root {
  --tag-height: 26px;
  --arrow-size: 10px;
  --tag-border-width: 1px;
  --arrow-size-diff: calc(var(--tag-border-width) / 2);
}
.p-0{
  margin: 0 auto;
}

.devicons{
  font-size:1.5em;
      vertical-align: sub;
}

@media (min-width: 992px) {
  .page-content {
    width: 90%;
  }
}

h3{
    margin-top:40px;
}

h3.mb-0{
    margin-bottom:0;
}

div.skills-heading{
    margin-top:1em;
    margin-bottom:0 !important;
}



/* From https://codepen.io/wbeeftink/pen/dIaDH */

.tags {
  font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}


.tag {
  background: var(--bg-main-colour);
  border-radius: 3px 0 0 3px;
  color: rgba(var(--text-main-colour), 0.75);
  border-color: rgba(var(--text-highlight-colour), 0.75) transparent rgba(var(--text-highlight-colour), 0.75) rgba(var(--text-highlight-colour), 0.75);
  border-width: var(--tag-border-width);
  border-style: solid;
  display: inline-block ;
  height: var(--tag-height);
  line-height: var(--tag-height);
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: var(--bg-main-colour);
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: calc(var(--tag-border-width) * -1);
  right: calc(var(--tag-border-width) * -1);
  border-top: calc(var(--tag-height) / 2) solid var(--bg-main-colour);
  border-left: var(--arrow-size) solid rgba(var(--text-highlight-colour), 0.75);
  border-bottom: calc(var(--tag-height) / 2 + 0.5px) solid var(--bg-main-colour);
}

.tag::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  right: var(--tag-border-width);
  border-top: calc(var(--tag-height) / 2 - var(--arrow-size-diff) ) solid transparent;
  border-left: calc(var(--arrow-size) - var(--arrow-size-diff) * 3 ) solid var(--bg-main-colour);
  border-bottom: calc(var(--tag-height) / 2 - var(--arrow-size-diff) ) solid transparent;
}



/*.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: var(--bg-main-colour);
  border-bottom: 13px solid transparent;
  border-left: 10px solid transparent;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}*/

.tag:hover {
  background-color: rgba(0, 51, 102, 1);
  color: white;
}

.tag:hover::after {
   border-left-color: rgba(0, 51, 102, 1);
}

.project-fact{
  font-size:80%;
  font-style:italic;
}

.resume-section blockquote {
    border-left: 4px solid #BD5D38;
    padding-left: 1em;
}

.breadcrumb {
  background: var(--bg-main-colour) !important;
}
