<section id="intro">
	<h1>{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}</h1>
	<p class="right_note">Last updated: {{ dateFormat "January 2, 2006" .Params.lastmod }}</p>
	<h2>Contact Information</h2>
	<div class="resume-item d-flex flex-row justify-content-between" id="contact">
		<div>
			<p>{{ .Site.Params.university }}</p>
			<p>{{ .Site.Params.address }}</p>
			<p>{{ .Site.Params.city }}, {{ .Site.Params.postcode }}, {{ .Site.Params.country }}</p>
		</div>
		<div>
			<p>Phone: {{ .Site.Params.phone }}</p>
			<p>Email: <a href="mailto:{{ .Site.Params.primaryEmail }}">{{ .Site.Params.primaryEmail }}</a></p>
			{{ $baseUrl := .Site.BaseURL }}
			<p>Personal page: <a href="{{ $baseUrl }}">{{ $baseUrl }}</a></p>
		</div>
	</div>
	<div id="research_interests">
		<h2>Research Interests</h2>
		{{ $homepage := .Site.GetPage "/" }}
		{{ humanize (delimit $homepage.Params.research_interests ", ") }}
	</div>
</section>
