{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    <span class="text-primary">
		{{ if .PublishDate }}
			{{ .PublishDate.Format "January 2, 2006"}}
		{{ else }}
			{{ .Date.Format "January 2, 2006" }}
		{{ end }}
	</span> 
	{{ $diff := div (sub .Lastmod.Unix .PublishDate.Unix) 86400 }}
	{{ if gt $diff 1 }}
		| updated {{ .Lastmod.Format "January 2, 2006" }}
	{{ end }}
	
	{{ if .Params.categories }}
		<p>in {{ range $i,$e := .Params.categories }} 
			{{ if $i }} · {{ end }} <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ title . }}</a>
			{{ end }}
		</p>
	{{ end }}
    {{ .Content }}
    {{ with .Params.link }}<p>Project link: <a href="{{ . }}">{{ . }}</a></p>{{ end }}
    {{ partial "techtags" . }}
  </div>
</section>
{{ end }}
